@import "../../../styles/index.scss";

.title {
    background-color: var(--color-black);

    .titlebar {
        @include flex;
                    
        @include breakpoint("sm-max") {
            display: block;
        }

        img {
            width: 300px;
            max-height: 60px;
            object-fit: cover;
                    
            @include breakpoint("sm-max") {
                width: 100%;
                max-height: 110px;
            }
        }

        h3 {
            padding: 20px;
            @include font16;
            font-weight: 800;
            letter-spacing: 1px;
            color: var(--font-color3);
                    
            @include breakpoint("sm-max") {
                text-align: center;
            }
        }
    }
}

.latest-news {
    .latest-news-div {
        @include breakpoint("sm-max") {
            padding-bottom: 20px;
        }

        h2 {
            margin: 30px 0;
            @include font26b;
            font-weight: 600;
            font-family: var(--font-family-condensed);
            color: var(--bgcolor-header);
            position: relative;

            &::after {
                @include fontline-top;
                width: 20px;
            }

            &::before {
                @include fontline-bottom;
                width: 20px;
            }
        }

        .latest-news-grid {
            @include grid2c;
                    
            @include breakpoint("sm-max") {
                grid-template-columns: 1fr;
            }

            .latest-news-grid-img {
                position: relative;
                cursor: pointer;

                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.1);
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                }

                img {
                    width: 100%;
                }
            }

            .latest-news-grid-div {
                padding: 0 30px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: relative;
                    
                @include breakpoint("sm-max") {
                    padding: 10px 0 0 0;
                }

                h4 {
                    @include font14b;
                    font-family: var(--font-family-condensed);
                    color: var(--bgcolor2);
                }

                p {
                    margin-top: 8px;
                    @include font26b;
                    font-weight: 600;
                    cursor: pointer;
                    color: var(--bgcolor-sidebar);

                    &:hover {
                        color: var(--font-color3);
                    }
                }

                .ldcb-insider {
                    position: absolute;
                    bottom: 0;
                    @include flex;
                    
                    @include breakpoint("md-max") {
                        position: relative;
                        margin-top: 20px;
                    }

                    svg {
                        width: 25px;
                    }

                    span {
                        margin: 0 5px 0 2px;
                        @include font14;
                        color: var(--font-color);
                    }

                    a {
                        @include font14;
                        text-decoration-line: underline;
                        color: var(--font-color3);
                    }
                }
            }

            &:hover {
                .latest-news-grid-img {
                    &::after {
                        opacity: 1;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }

        .news-slider {
            @include grid3c;
            margin: 25px 0 15px 0;
            gap: 10px;
                    
            @include breakpoint("sm-max") {
                grid-template-columns: repeat(2, 1fr);
            }
                    
            @include breakpoint("xs-max") {
                grid-template-columns: repeat(1, 1fr);
            }

            .news-slider-box {
                .news-slider-image {
                    position: relative;
                    cursor: pointer;

                    &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(255, 255, 255, 0.1);
                        opacity: 0;
                        transition: 0.3s ease-in-out;
                    }

                    img {
                        width: 100%;
                    }
                }

                h4 {
                    @include font14b;
                    font-family: var(--font-family-condensed);
                    color: var(--bgcolor2);
                    margin: 10px 0 8px 0;
                }

                p {
                    @include font15b;
                    font-weight: 600;
                    cursor: pointer;
                    color: var(--bgcolor-sidebar);
                    
                    @include breakpoint("sm-max") {
                        font-size: 14px;
                    }

                    &:hover {
                        color: var(--font-color3);
                    }
                }

                &:hover {
                    .news-slider-image {
                        &::after {
                            opacity: 1;
                            transition: 0.3s ease-in-out;
                        }
                    }
                }
            }
        }

        .news-numbering {
            margin-bottom: 20px;

            ul {
                @include flex-center;
                flex-wrap: wrap;

                li {
                    list-style: none;
                    margin: 4px 15px;
                    cursor: pointer;

                    &:first-child {
                        span {
                            font-weight: 800;
                        }
                    }

                    span {
                        @include font18;
                        font-family: var(--font-family-condensed);
                        color: var(--bgcolor-header);

                        &:hover {
                            color: var(--font-color3);
                        }
                    }
                }

                .next-button {
                    position: relative;

                    span {
                        font-size: 13px;
                        font-family: var(--font-family-roboto);
                        font-weight: 600;
                    }

                    &::after {
                        display: inline-block;
                        content: "";
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        border-left: 6px solid #767676;
                        margin-left: 10px;
                    }

                    &:hover {
                        span {
                            color: var(--font-color3);
                        }
                        &::after {
                            border-left-color: var(--font-color3);
                        }
                    }
                }
            }
        }
    }
}
