@import '../../../styles/index.scss';

.contentAgree {

    h2 {
        margin: 22px 0;
        text-transform: uppercase;
        @include font26b;
        font-weight: 600;
        color: var(--bgcolor-header);
        font-family: var(--font-family-condensed);

        a {
            color: var(--font-color3);
            text-decoration-line: underline;

            &:hover {
                text-decoration: none;
                color: var(--bgcolor3);
            }
        }
    }

    h3, h4 {
        margin: 24px 0;
        @include font14;
        font-weight: 600;
        color: var(--bgcolor-header);
    }

    p {
        margin-bottom: 15px;
        @include font14;
        color: var(--bgcolor-header);
        letter-spacing: .9px;
        line-height: 1.5;
        text-align: justify;

        a {
            color: var(--font-color3);
            text-decoration-line: underline;

            &:hover {
                text-decoration: none;
                color: var(--bgcolor3);
            }
        }

        ol {
            margin-left: 35px;

            li {
                @include font16;
            }
        }
    }

    ol {
        padding: 20px 0;
        margin-left: 35px;
        list-style-type: lower-roman;

        li {
            @include  font16;
            letter-spacing: 0.5px;
            line-height: 1.3;
        }
    }
}