@import "../../../styles/index.scss";


.unlimited-hb {
    .unlimited-hb-batch {
        background-color: var(--bgcolor-sidebar);
        color: var(--color-white);
        display: flex;
        justify-content: center;
        padding: 10px 0;

        @include breakpoint("lg-max") {
            padding: 13px 0;
        }

        p {
            text-transform: uppercase;
            @include font14;
            letter-spacing: 0.5px;
            font-family: var(--font-family-condensed);

            @include breakpoint("lg-max") {
                font-size: 12px;
            }
        }
    }

    .unlimited-hb-main {
        background-image: url(../../../assets/images/jpg/unlimitedBanner.jpg);
        width: 100%;
        background-size: cover;
        background-position: top;
        padding: 70px 0 30px 0;

        .unlimited-banner {
            @include flex;
            flex-direction: column;
            color: var(--color-white);
            text-align: center;

            img {
                width: 70px;
            }

            h1 {
                margin: 44px 0;
                @include font44;
                line-height: 44px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                font-family: var(--font-family-condensed);

                @include breakpoint("lg-max") {
                    font-size: 26px;
                    margin: 26px 0;
                }
            }

            h2 {
                @include font20b;
                text-transform: uppercase;
            }

            h3 {
                margin: 16px 0 30px 0;
                @include font20b;
                text-transform: uppercase;
            }

            h4 {
                margin: 30px 0;
                @include font16;
                letter-spacing: 0.5px;

                a {
                    color: var(--font-color3);
                    text-decoration: underline;
                }
            }

            p {
                @include font14;
                max-width: 90%;
                letter-spacing: 0.5px;
                line-height: 1.3;
            }
        }
    }
}
