@import "../../../../styles/index.scss";

.musiclist {
    h3 {
        text-transform: uppercase;
        padding: 26px 0;
        @include font26b;
        font-weight: 600;
        font-family: var(--font-family-condensed);
        color: var(--bgcolor-header);
    }

    .musiclist-box {
        margin-bottom: 21px;
        padding: 15px;
        border: 2px solid var(--border-color-dull3);

        .musiclist-first {
            margin-bottom: 15px;
            display: grid;
            grid-template-columns: 150px 1fr;
            gap: 15px;

            .musiclist-image {
                padding: 75px;
                background-image: url("../../../../assets/images/jpg/musicList1.jpg");
                background-size: cover;
            }

            .musiclist-title {
                display: grid;
                grid-template-rows: 65px 1fr;

                .musiclist-head {
                    display: grid;
                    grid-template-columns: 1fr 52px;

                    .music-head-main {
                        span {
                            @include font11;
                            letter-spacing: 1px;
                            color: var(--font-color17);
                        }

                        h4 {
                            @include font20;
                            font-weight: 600;
                            color: var(--font-color18);
                        }
                    }

                    .music-sound {
                        padding: 16px;

                        svg {
                            cursor: pointer;
                            opacity: 0.1;

                            &:hover {
                                opacity: 0.2;
                            }
                        }
                    }
                }

                .musiclist-play {
                    display: grid;
                    grid-template-columns: 75px 1fr;
                    gap: 15px;

                    .musiclist-play-button {
                        display: flex;
                        align-items: flex-end;
                    }

                    .musiclist-batch {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;

                        svg {
                            fill: #e7e7e6;
                            cursor: pointer;
                        }

                        .musiclist-start {
                            position: absolute;
                            top: 15px;
                            left: 10px;
                            @include font10;
                            padding: 2px 4px;
                            letter-spacing: 0.5px;
                            background-color: var(--bgcolor20);
                            border-radius: 2px;
                            pointer-events: none;
                        }

                        .musiclist-end {
                            position: absolute;
                            top: 15px;
                            right: 15px;
                            @include font10;
                            padding: 2px 4px;
                            letter-spacing: 0.5px;
                            background-color: var(--color-white);
                            border-radius: 2px;
                            pointer-events: none;
                        }

                        .musiclist-control {
                            @include flex-between;

                            .musiclist-speed {
                                width: 32px;
                                border: 1px solid var(--border-color7);
                                border-radius: 4px;
                                padding: 2px;
                                @include font10;
                                font-weight: 600;
                                color: var(--border-color7);
                                cursor: pointer;
                                position: relative;
                                @include flex-center;

                                span {
                                    display: inline-block;
                                    user-select: none;
                                }

                                span:nth-child(n + 2) {
                                    display: none;
                                }

                                &.expanded span {
                                    display: inline-block;
                                }
                            }

                            .musiclist-share {
                                span {
                                    @include font10;
                                    cursor: pointer;
                                    color: var(--border-color7);
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .musiclist-table {
            max-height: 275px;
            border: 1px solid var(--border-color-dull4);
            overflow-y: scroll;

            table {
                width: 100%;
                text-align: left;
                border-collapse: collapse;

                tbody {
                    tr {
                        &:first-child {
                            background-color: var(--border-color-dull3);
                        }

                        td {
                            white-space: nowrap;
                            border-bottom: 1px solid var(--border-color-dull4);
                            padding: 12px 0;

                            &:first-child {
                                width: 100px;
                                padding: 12px 16px;
                            }

                            &:last-child {
                                text-align: right;
                                width: 100px;
                                padding: 12px 16px;
                            }
                        }

                        &:hover {
                            background-color: var(--border-color4);
                        }
                    }
                }
            }
        }
    }
}
