@import "../../styles/index.scss";

.agreement-links {
    padding: 30px 0 35px 0;

    h2 {
        position: relative;
        @include font26b;
        font-weight: 600;
        font-family: var(--font-family-condensed);
        text-transform: uppercase;
        margin: 30px 0;
        color: var(--bgcolor-header);

        @include breakpoint("sm-max") {
            font-size: 14px;
        }

        &::after {
            @include fontline-top;
            width: 20px;
        }

        &::before {
            @include fontline-bottom;
            width: 20px;
        }
    }

    p {
        @include font14;
        color: var(--bgcolor-header);
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 1.3;
    }

    h3 {
        margin: 26px 0;
        @include font26b;
        font-weight: 600;
        font-family: var(--font-family-condensed);
    }

    ol {
        margin-left: 35px;
        
        li {
            @include font16;
            letter-spacing: 0.5;
            line-height: 1.3;

            a {
                color: var(--font-color3);
                text-decoration-line: underline;
            }
        }
    }
}
