@import "../../../styles/index.scss";

.draw-cards {
    background-color: var(--color-black);
    padding: 10px 0 60px 0;

    h2 {
        @include font26b;
        font-weight: 600;
        line-height: 0.9;
        font-family: var(--font-family-condensed);
        text-transform: uppercase;
        margin: 25px 0;
        position: relative;
        color: var(--color-white);

        &::after {
            @include fontline-top;
            width: 20px;
        }

        &::before { 
            @include fontline-bottom;
            width: 20px;
        }
    }

    .character-comic {
        margin-bottom: 10px;
        @include grid4c;
        gap: 20px 10px;

        @include breakpoint("lg-max") {
            grid-template-columns: repeat(4, 1fr);
        }

        @include breakpoint("md-max") {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint("sm-max") {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 400px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .character-comic-box {
            .character-comic-image {
                position: relative;
                cursor: pointer;

                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(255, 255, 255, 0.1);
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                }

                img {
                    width: 100%;
                }
            }

            .character-comic-text {
                span {
                    display: block;
                    padding: 10px 0 8px 0;
                    @include font14b;
                    text-transform: uppercase;
                    font-family: var(--font-family-condensed);
                    color: var(--bgcolor2);
                }

                p {
                    @include font15b;
                    color: var(--color-white);
                    cursor: pointer;

                    &:hover {
                        color: var(--font-color3);
                    }
                }
            }

            &:hover {
                .character-comic-image {
                    &::after {
                        opacity: 1;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}
