@import "../../../styles/index.scss";

.list-section {
    padding: 10px 0 0 0;

    h2 {
        @include font26b;
        font-weight: 600;
        line-height: 0.9;
        font-family: var(--font-family-condensed);
        text-transform: uppercase;
        margin: 25px 0;
        position: relative;

        &::after {
            @include fontline-top;
            width: 20px;
        }

        &::before {
            @include fontline-bottom;
            width: 20px;
        }
    }

    .list-section-main {
        background-color: var(--color-white);

        .list-section-grid {
            padding: 10px 0 20px 0;
            @include grid6c;
            gap: 10px;

            @include breakpoint("lg-max") {
                grid-template-columns: repeat(4, 1fr);
            }

            @include breakpoint("md-max") {
                grid-template-columns: repeat(3, 1fr);
            }

            @include breakpoint("sm-max") {
                grid-template-columns: repeat(2, 1fr);
            }

            @include breakpoint("xs-max") {
                grid-template-columns: repeat(1, 1fr);
            }

            .list-section-grid-div {
                cursor: pointer;

                img {
                    width: 100%;
                    box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.8);
                    transition: 0.2s ease-in-out;
                }

                .list-section-grid-text {
                    padding: 13px 0 0 0;

                    h4 {
                        @include font12;
                        font-weight: 700;
                        color: var(--bgcolor2);
                        margin-top: 5px;
                    }

                    p {
                        @include font15b;
                        letter-spacing: 0.5px;
                        color: var(--bgcolor-sidebar);
                    }
                }

                &:hover {
                    img {
                        transform: translateY(-5px);
                        transition: 0.2s ease-in-out;
                    }
                    .list-section-grid-text {
                        p {
                            color: var(--font-color3);
                        }
                    }
                }
            }
        }
    }
}
