@import "../../../styles/index.scss";

.role-respo-main {
    display: none;

    @include breakpoint("lg-max") {
        display: block;
    }

    .role-respo-div {
        .role-respo-image {
            img {
                width: 100%;
                min-height: 400px;
                object-fit: cover;

                @include breakpoint("sm-max") {
                    min-height: 300px;
                }
            }
        }

        .respo-content-div {
            position: relative;
            padding: 50px 30px;
            min-height: 400px;
            color: var(--color-white);
            background-color: var(--bgcolor-sidebar);
            clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 0);

            @media (max-width: 380px) {
                min-height: 450px;
            }

            @include breakpoint("sm-max") {
                img {
                    width: 100%;
                }
            }

            p {
                margin-bottom: 20px;
                @include font14;
                letter-spacing: 0.5px;
                line-height: 1.3;
                max-width: 800px;
            }
        }
    }

    .follow-link {
        @include flex-between;
        background-color: var(--color-white);
        padding: 15px 20px 10px 20px;

        @include breakpoint("lg-max") {
            border-bottom: thin solid var(--border-color4);
        }

        span {
            color: var(--bgcolor2);
            font-weight: 600;
            letter-spacing: 1px;
        }

        .follow-link-div {
            @include flex;
            gap: 15px;

            a {
                max-height: 18px;

                svg {
                    fill: var(--bgcolor2);
                    cursor: pointer;

                    &:hover {
                        fill: var(--color-black);
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}
