@import "../../styles/index.scss";

.annual-plus {
    padding: 30px 0 35px 0;

    h2 {
        position: relative;
        @include font26b;
        font-weight: 600;
        font-family: var(--font-family-condensed);
        text-transform: uppercase;
        margin: 30px 0;
        color: var(--bgcolor-header);

        @include breakpoint("sm-max") {
            font-size: 20px;
        }

        &::after {
            @include fontline-top;
            width: 20px;
        }

        &::before {
            @include fontline-bottom;
            width: 20px;
        }
    }

    h3 {
        padding: 25px 0;
        @include font20;
        font-weight: 600;
        line-height: 1.3;
        color: var(--bgcolor-header);
    }

    p {
        @include font14;
        color: var(--bgcolor-header);
        line-height: 1.5;
        letter-spacing: 0.5px;
    }

    ol {
        margin: 42px 0 63px 35px;

        li {
            @include font16;
            line-height: 1.3;
            letter-spacing: 0.5px;
            color: var(--bgcolor-header);

            a {
                color: var(--font-color3);
                text-decoration-line: underline;

                &:hover {
                    color: var(--bgcolor3);
                    text-decoration-line: none;
                }
            }
        }
    }
}
