@import "../../../styles/index.scss";

.unlimited-Header {
    .uh-first,
    .uh-main {
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    .uh-first.hidden,
    .uh-main.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .uh-first {
        position: fixed;
        top: 52px;
        right: 30px;
        z-index: 9;
    }

    .uh-main {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 75px;
        z-index: 8;
        background-color: var(--bgcolor-header);
        padding: 0 20px;
        @include flex-between;
    }

    .uh-main-logo {
        img {
            max-height: 47px;
        }
    }
}
