@import "../../../styles/index.scss";

.poster-main {
    position: relative;

    .poster {
        background-image: url("../../../assets/images/jpg/moviePoster.jpg");
        width: 100%;
        background-size: cover;
        background-position: center;
        clip-path: polygon(0 0, 0 98%, 100% 92%, 100% 0);
        position: relative;

        &::after {
            z-index: 1;
            content: "";
            position: absolute;
            top: 0;
            width: 60%;
            height: 100%;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0, transparent);
        }

        .poster-div {
            position: relative;
            z-index: 2;
            padding: 85px 0;

            .poster-div-text {
                width: 55%;
                color: var(--color-white);

                @include breakpoint("lg-max") {
                    width: 100%;
                }

                h2 {
                    @include font44;
                    font-family: var(--font-family-condensed);
                    text-transform: uppercase;

                    @include breakpoint("sm-max") {
                        font-size: 26px;
                    }
                }

                p {
                    padding: 15px 0 20px 0;
                    letter-spacing: 0.5px;
                }
            }
        }
    }

    .poster-svg {
        position: absolute;
        width: 100%;
        bottom: -5px;
        right: 0;
        z-index: 4;

        .links-icons {
            padding: 0 20px;
            display: flex;
            justify-content: flex-end;
            gap: 15px;
            flex-wrap: wrap;

            svg {
                fill: var(--bgcolor2);
                cursor: pointer;

                &:hover {
                    fill: var(--color-black);
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }
}
