

@mixin font11 {
    font-size: 11px;
    font-weight: 400;
}

@mixin font12 {
    font-size: 12px;
    font-weight: 400;
}

@mixin font13 {
    font-size: 13px;
    font-weight: 400;
}

@mixin font14 {
    font-size: 14px;
    font-weight: 400;
}

@mixin font14b {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
}

@mixin font15b {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

@mixin font16 {
    font-size: 16px;
    font-weight: 400;
}

@mixin font17 {
    font-size: 17px;
    font-weight: 400;
}

@mixin font18 {
    font-size: 18px;
    font-weight: 400;
}

@mixin font20 {
    font-size: 20px;
    font-weight: 400;
}

@mixin font20b {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
}

@mixin font25 {
    font-size: 25px;
    font-weight: 400;
}

@mixin font26b {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1;
}

@mixin font28b {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
}

@mixin font32 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}

@mixin font34 {
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1px;
}

@mixin font36 {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}

@mixin font40 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 40px;
}

@mixin font44 {
    font-size: 44px;
    font-weight: 600;
    line-height: 40px;
}

@mixin font50 {
    font-size: 50px;
    font-weight: 400;
}

@mixin font160 {
    font-size: 160px;
    font-weight: 700;
    line-height: 1.2;
}