@import "../../../styles/index.scss";

.podcast-banner {
    .podcast-banner-main {
        background-color: var(--bgcolor-sidebar);
        clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 0);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 39.9%;
            width: 160px;
            height: 100%;
            z-index: 2;
            background-color: var(--bgcolor-sidebar);
            clip-path: polygon(0 0, 0% 100%, 100% 100%);

            @include breakpoint("md-max") {
                display: none;
            }
        }

        .podcast-banner-two {
            position: absolute;
            background-image: url("../../../assets/images/jpg/podcastHB.jpg");
            width: 60%;
            height: 100%;
            right: 0;
            z-index: 1;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @include breakpoint("md-max") {
                position: relative;
                width: 100%;
                min-height: 440px;
            }

            @include breakpoint("sm-max") {
                min-height: 300px;
            }
        }

        .podcast-banner-one {
            padding: 140px 0;
            position: relative;
            z-index: 3;

            @include breakpoint("md-max") {
                padding: 60px 30px 80px 30px;

                .container {
                    padding: 0;
                }
            }

            .podcast-banner-one-div {
                padding-left: 50px;
                max-width: 35%;
                color: var(--color-white);
                font-family: var(--font-family-condensed);

                @include breakpoint("md-max") {
                    padding: 0 0 20px 0;
                    max-width: 100%;
                }

                h2 {
                    @include font40;
                    font-weight: 800;

                    @include breakpoint("sm-max") {
                        @include font26b;
                    }
                }

                p {
                    @include font16;
                    letter-spacing: 0.5px;
                    margin-top: 10px;
                    padding-bottom: 20px;
                }

                .banner-content-button {
                    flex-wrap: wrap;
                }
            }
        }
    }

    .podcast-banner-batch {
        position: relative;
        margin-top: -30px;

        @include breakpoint("md-max") {
            margin-top: 0;
            border-bottom: thin solid var(--border-color4);
        }

        .batch-main {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @include breakpoint("md-max") {
                justify-content: space-between;
            }

            h3 {
                display: none;
                color: var(--bgcolor2);
                @include font16;
                font-weight: 600;
                letter-spacing: 2px;
                font-family: var(--font-family-condensed);

                @include breakpoint("md-max") {
                    display: block;
                }
            }

            .social-links {
                padding: 10px;
                @include flex-between;
                gap: 15px;

                svg {
                    fill: var(--bgcolor2);
                    cursor: pointer;

                    &:hover {
                        fill: var(--color-black);
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}
