:root {
    --color-white: #fff;
    --color-black: #000;

    --font-color: #888;
    --font-color2: #e8b63e;
    --font-color3: #e62429;
    --font-color4: #c6a972;
    --font-color5: #bbbbbb;
    --font-color6: #4c5067;
    --font-color7: #252526;
    --font-color8: #0040e5;
    --font-color-error: #ffeb3b;

    --bgcolor: #000;
    --bgcolor2: #767676;
    --bgcolor3: #9f0013;
    --bgcolor4: #e1e1e1;
    --bgcolor5: #b0b4c4;
    --bgcolor6: #ca2020;
    --bgcolor7: #000000d9;
    --bgcolor8: #e9ebf0;
    --bgcolor9: #5f6166;
    --bgcolor10: #ccced3;
    --bgcolor11: #86898f;
    --bgcolor12: #267f30;
    --bgcolor13: #9c6d11;
    --bgcolor14: #eee;
    --bgcolor-header: #202020;
    --bgcolor-sidebar: #151515;

    --border-color: #f2f2f2;
    --border-color2: #bbb;
    --border-color3: #aeb0b5;
    --border-color-dull: rgb(255, 255, 255, 0.4);
    --border-color-dull2: rgb(21, 21, 21, 0.4);
    --border-color-header: #393939;

    --box-shadow: rgba(0, 0, 0, 0.5);

    --error-accent-color: #ff6f61;
    
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-condensed: "Roboto Condensed", sans-serif;
    --font-family-noto: "Noto Sans", sans-serif;
}
