:root {
    --color-white: #fff;
    --color-black: #000;

    --font-color: #000;
    --font-color2: #e8b63e;
    --font-color3: #e62429;
    --font-color4: #c6a972;
    --font-color5: #bbbbbb;
    --font-color-error: #ffeb3b;

    --bgcolor: #000;
    --bgcolor2: #767676;
    --bgcolor3: #9f0013;
    --bgcolor4: #e1e1e1;
    --bgcolor-header: #202020;
    --bgcolor-sidebar: #151515;

    --border-color: #000;
    --border-color-header: #393939;

    --box-shadow: rgba(0, 0, 0, 0.5);

    --error-accent-color: #ff6f61;
    
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-condensed: "Roboto Condensed", sans-serif;
}
