:root {
    --color-white: #ffffff;
    --color-black: #000000;

    --font-color: #888888;
    --font-color2: #e8b63e;
    --font-color3: #e62429;
    --font-color4: #c6a972;
    --font-color5: #666666;
    --font-color6: #4c5067;
    --font-color7: #252526;
    --font-color8: #0040e5;
    --font-color9: #ae8b50;
    --font-color10: #971418;
    --font-color11: #333333;
    --font-color12: rgba(0, 0, 0, 0.95);
    --font-color13: rgba(60, 60, 67, 0.6);
    --font-color14: #3c3c4399;
    --font-color15: #49494a;
    --font-color16: #9d9da1;
    --font-color17: #babab9;
    --font-color18: #1b1b1b;
    --font-color-error: #ffeb3b;

    --bgcolor1: #f3f3f3;
    --bgcolor2: #767676;
    --bgcolor3: #9f0013;
    --bgcolor4: #e1e1e1;
    --bgcolor5: #b0b4c4;
    --bgcolor6: #ca2020;
    --bgcolor7: #000000d9;
    --bgcolor8: #e9ebf0;
    --bgcolor9: #5f6166;
    --bgcolor10: #ccced3;
    --bgcolor11: #86898f;
    --bgcolor12: #267f30;
    --bgcolor13: #9c6d11;
    --bgcolor14: #eeeeee;
    --bgcolor15: #f8f8fa;
    --bgcolor16: #eeeef0;
    --bgcolor17: #f0ebf8;
    --bgcolor18: #7224d8;
    --bgcolor19: #e0e0e2;
    --bgcolor20: rgba(253, 242, 128, .95);
    --bgcolor-header: #202020;
    --bgcolor-sidebar: #151515;

    --border-color: #f2f2f2;
    --border-color2: #bbbbbb;
    --border-color3: #aeb0b5;
    --border-color4: #e5e5e5;
    --border-color5: #dddddd;
    --border-color6: #d8d8d8;
    --border-color7: #0f0f0f;
    --border-color-dull: rgb(255, 255, 255, 0.4);
    --border-color-dull2: rgb(21, 21, 21, 0.4);
    --border-color-dull3: rgba(15, 15, 15, 0.05);
    --border-color-dull4: rgba(15, 15, 15, .1);
    --border-color-header: #393939;

    --box-shadow: rgba(0, 0, 0, 0.5);

    --error-accent-color: #ff6f61;

    --font-family-roboto: "Roboto", sans-serif;
    --font-family-condensed: "Roboto Condensed", sans-serif;
    --font-family-noto: "Noto Sans", sans-serif;
}
