@import "../../../styles/index.scss";

.role-logo {
    padding: 30px 0;

    .role-logo-main {
        @include grid2c;
        gap: 20px;

        .role-logo-div, .role-logo-div2 {
            h3 {
                margin: 26px 0;
                text-transform: uppercase;
                text-align: center;
                @include font26b;
                font-weight: 600;
                font-family: var(--font-family-condensed);
            }
            img {
                width: 100%;
                padding: 0 39px;
            }
        }

        .role-logo-div2 {
            img {
                padding: 0;
            }
        }
    }
}

.role-faq {
    background-color: var(--color-black);
    padding-top: 48px;

    h2 {
        color: var(--color-white);
        margin-bottom: 32px;
        @include font26b;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1;
    }

    .role-faq-main {
        .role-faq-main-list {
            position: relative;
            cursor: pointer;

            h3 {
                @include font16;
                font-weight: 700;
                letter-spacing: 0.5px;
                padding: 20px 30px 20px 20px;
                background-color: var(--bgcolor14);
                border-bottom: 1px solid var(--border-color2);

                &:hover {
                    background-color: var(--border-color2);
                }
            }

            .plus-icon {
                position: absolute;
                top: 15px;
                right: 20px;
                font-size: 25px;
                font-weight: 600;
            }
        }
    }
}

